@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

#dayName {
    font-size: 2.5rem;
}
#emoji {
    font-size: 2.5rem;
}
.bigText {
    font-size: 2.5rem;
    /* font-family: 'Dancing Script', cursive; */
}
.font {
    font-family: 'Dancing Script', cursive;
}

.btn-default{
    color:#adadad;
    background-color:#e6e6e6;
    border-color:#adadad;
}

/* 3d object container */
#home {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
}
/* change cursor on phone-number and email */
#phoneNumber {
    cursor: grab;
}
#EmailId {
    cursor: grab;
}

/* underline */
.underline {
    position: relative;
    display: inline-block;
    cursor: crosshair;

}

.underline::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s;
}

.underline:hover::after {
    width: 100%;
}

/* zoom progress bar */
.zoom {
    transform: scale(1.1);
    transition: transform 0.2s;
}
/* Zoom text */
.zoomText span {
    display: inline-block;
    transition: transform 0.2s; 
}
  
.zoomText span.zoom {
    transform: scale(1.2);
}
  
/* my-photo */
#my-photo {
    /* box-shadow: 1px -1px 5px #9d6d55; */
    box-shadow: 1px -1px 5px #ffffff;
    transform: translateZ(150px);
}
.circle {
    height: 20rem;
    width: 20rem;
    /* background: linear-gradient(
        to right,
        #adadad,
        #e6e6e6
    ); */
    background-color: #adadad;
    /* border-radius: 50%; */
    position: absolute;
    z-index: 1;
}

/* svg */
svg {
    position: absolute;
    z-index: 3;
}